tox
sphinx
sphinx-rtd-theme
sphinx-bootstrap-theme
sphinxcontrib-httpdomain
sphinxcontrib-redoc
sphinxcontrib-needs
sphinxcontrib-swaggerdoc
recommonmark
lfdocs-conf
urllib3~=1.26.15
setuptools
doc8
docutils < 0.17
pillow==11.2.1